repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
        -   id: check-yaml
        -   id: end-of-file-fixer
        -   id: trailing-whitespace
  -   repo: https://github.com/pycqa/flake8
      rev: '7.3.0'
      hooks:
        -   id: flake8
            additional_dependencies:
              - flake8-docstrings
              - flake8-bugbear
              - flake8-import-order
              - flake8-quotes
              - flake8-variables-names
